#conteudo{
  font-size: 135%;
}
.esq {
  display: inline-block;
  width: 62%;
  margin-top: 5%;
  float: left;
}
.dir{
  display: inline-block;
  width: 62%;
  float: right;
  margin-top: 5%;
}
.infos {
  color: white;
}
.dicones {
  float: right;
  display: inline-block;
  margin-top: 5%;
  width: 34%;
}
.eicones {
  float: left;
  display: inline-block;
  margin-top: 5%;
  width: 34%;
}

@media only screen and (max-width: 858px) {

  .esq, .dir {
    width: 100%;
    display: block;
    float: none;
  }

  .eicones, .dicones{
    width:68%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    float:none;
    margin-top: 2%;
  }
}
