body {
  background: black;
  font-family: monospace;
  margin:10%;
  margin-top: 2%;
  }
  h2{
    color: #fff120;
  }
  p{
    color: white;
    text-align: justify;
  }
hr {
  color: #ffd924;

    box-shadow: 0 0 5px #ffd924,
                0 0 25px #ffd924,
                0 0 50px #ffd924,
                0 0 200px #ffd924;
}
#logo {
   width: 32%;
   display: inline-block;
}

#links{
  display: inline-block;
  width:65%;
  margin-bottom: 1%;
  margin-top: 9%;
  font-family: monospace;
  font-size: 140%;
  text-align: right;
}
.btn{
  font-weight: lighter;
  color: #fff120;
  padding: 0.7%;
  margin: 0.8%;
  font-size: 130%;
  text-decoration: none;
  font-family: Arial;
  transition: width 2s;
  transition-timing-function: ease;
}
.btn:hover{
  color: #ffee88;
  text-shadow: 0 0 5px #ffd924,
              0 0 25px #ffd924,
              0 0 50px #ffd924,
              0 0 200px #ffd924;
}
footer{
  float:left;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}



@media only screen and (max-width: 1046px) {
  body {
    margin: 3%;
  }
}

@media only screen and (max-width: 858px) {
  #links {
    font-size: 120%;
  }
}
@media only screen and (max-width: 730px){
  #links {
    font-size: 100%;
    text-align: center;
  }

}
@media only screen and (max-width: 520px){
  #links {
    font-size: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 2%;
    }
  #logo{
    width: 49%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
